# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/

# Environment
.env
*.env.local

# DuckDB
*.duckdb
*.duckdb.wal

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Airflow
airflow/logs/
airflow/plugins/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
.txt
